         h1 {
            font-size: 60px;
            text-align: center;
        }

        div.gallery {
            margin: 5px;
            border: 0px solid #ccc;
            float: left;
        }

        div.desc {
            padding: 15px;
            text-align: left;
        }

        .product {
            width: 490px;
            height: 490px;
        }
        img{
            width:300px;
            height:300px;
        }
        a:link {
            background-color: white;
            color: black;
            text-decoration: none;
            padding: 14px 20px;
        }

        a:hover {
            text-decoration: underline;
            color: slategrey
        }
        a:visited {
            color: black;
}

